.post > h1 {
  text-align: center;
  border-bottom: 1px solid $darkerGray;
  border-top: 1px solid $darkerGray;
}

#tags > .tag {
  border: 1px solid $darkGray;
  border-radius: 10px;
  background-color: $darkGray;
  color: white;
  padding: 5px;
  margin-left: 5px;
}

.post .entry {
  border-radius: 5px;
  border: 1px solid $lightGray;
  margin-top: 20px;
  padding: 0 20px 10px;
}